<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>NEW FOOD</h1>
</div>

<div class="d-flex justify-content-center">
  <%= render "form", food: @food %>
</div>

<br />

<div class="d-flex justify-content-center">
  <%= link_to "Back to foods", foods_path %>
</div>
